.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  padding-left: 2%;
  padding-right: 2%;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
